.idea/
node_modules/
.vscode/
build/
tmp/
temp/
.nx/
dist/
vite.config.*.timestamp*
vitest.config.*.timestamp*
*.sqlite
.DS_Store

storage/
storage-docker/
.env
.env.*
!.env.example
!.env.serve

data/
log/

.cursor/*
!.cursor/.cursorrules
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

